NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
QRISPY_OWNER_USER_ID=
TRADEZERO_API_BASE_URL=https://webapi.tradezero.com/
TRADEZERO_API_KEY_ID=
TRADEZERO_API_SECRET_KEY=
TRADEZERO_READ_ONLY_CONFIRMED=false
TRADEZERO_BROKER_2FA_CONFIRMED=false
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
